<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd">
	
	<!-- 页面调用排版时支持异步 -->
	<!-- 等价于 @EnableAsync， executor指定线程池 -->
    <task:annotation-driven executor="asyncExecutor"/>
    <!-- id指定线程池产生线程名称的前缀 -->
    <task:executor id="asyncExecutor" pool-size="2-5" queue-capacity="20" keep-alive="120" rejection-policy="ABORT"/>
</beans>